.app {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #000; */
}
h1 {
  text-align: center;
}
.leaflet-marker-icon {
  background-image: url("./assets/images/marker-icon-2x.png ") !important;
}
.leaflet-marker-shadow {
  background-image: url("./assets/images/marker-shadow.png");
}
